@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7.woff2') format('woff2'),
         url('fonts/digital-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea el contenido al inicio (izquierda) */
    justify-content: flex-start;
    height: 100vh; /* Altura completa del navegador */
}

#main-container {
    display: flex; /* Usamos flexbox para alinear los elementos hijos */
    flex-direction: row; /* Alineamos los elementos en fila */
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    max-width: 100vw; /* Evita que se desborde del viewport */
    gap: 10px; /* Espacio entre la grilla y los controles */
    padding: 20px; /* Añadimos padding para separar del borde del viewport */
}

#game-container {
    width: 90vmin; /* Máximo tamaño basado en la ventana */
    height: 90vmin; /* Máximo tamaño basado en la ventana */
    display: grid;
    gap: 5px;
    background-color: black;
    border: 2px solid #fff;
    padding: 10px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, 1fr);
    flex-shrink: 0; /* Evita que se encoja */
}

#controls-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los controles al inicio (izquierda) */
    justify-content: flex-start;
    flex-grow: 1; /* Permite que este contenedor crezca para ocupar el espacio restante */
    max-width: 700px; /* Limita el ancho máximo de los controles */
}

#buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#buttons-container label {
    font-weight: bold;
}

#buttons-container select, #buttons-container button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#buttons-container button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

#buttons-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#reloj, #score-display {
    font-size: 25px;
    font-family: 'Digital-7', monospace;
    color: #ffff00; /* Color amarillo */
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    margin-top: 10px;
}

#cells-removed-counter {
    font-size: 25px;
    font-family: 'Digital-7', monospace;
    color: #ffff00; /* Color amarillo */
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
    margin-top: 10px;
    /* Ajustes para hacer el contenedor más compacto */
    width: auto; /* Ajusta automáticamente el ancho al contenido */
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    display: inline-block; /* Permite que el contenedor se ajuste al contenido */
}

#reloj .separador {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    0%, 50% { visibility: visible; }
    51%, 100% { visibility: hidden; }
}

#color-samples {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.cell-sample {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-weight: bold;
}

.cell {
    aspect-ratio: 1 / 1; /* Relación cuadrada */
    background-color: #222;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.cell.processing {
    pointer-events: none; /* Bloquear eventos de puntero */
}

.gris-ondas, .verde, .cyan, .puntos-blancos, .rayado, .magenta {
    border: none; /* Eliminar bordes de las celdas coloreadas */
}

.gris-ondas {
    background: repeating-radial-gradient(
        circle at 50% 50%,
        #A9A9A9, /* Gris oscuro */
        #A9A9A9 10px,
        #D3D3D3 10px,
        #D3D3D3 20px /* Gris claro */
    );
}

.verde {
    background: repeating-linear-gradient(
        45deg,
        #008000, /* Color verde */
        #008000 10px,
        #00ff00 10px,
        #00ff00 20px /* Color verde claro */
    );
}

.cyan { background-color: cyan; }

.puntos-blancos {
    background: radial-gradient(#ffffff 20%, transparent 20%), /* Color blanco */
               radial-gradient(#ffffff 20%, transparent 20%); /* Color blanco */
    background-color: #ff0000; /* Color rojo */
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.rayado {
    background: repeating-linear-gradient(
        0deg,
        #1E90FF, /* Dodger Blue */
        #1E90FF 10px,
        #4169E1 10px,
        #4169E1 20px /* Royal Blue */
    );
}

.magenta { background-color: magenta; }

@keyframes rapidBlink {
    0%, 33.33%, 66.66%, 100% { opacity: 1; } /* Estado completamente opaco */
    16.66%, 50%, 83.33% { opacity: 0; } /* Estado completamente transparente */
}

@keyframes borderPulse {
    0% { border-color: red; }
    50% { border-color: yellow; }
    100% { border-color: red; }
}

.cell.selected {
    animation: borderPulse 1s infinite;
    border-width: 3px;
    border-style: solid;
}

.matched {
    animation: rapidBlink 1s infinite;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

#version-text {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
}

#score-display {
    text-align: left;
    margin-bottom: 10px;
}

@keyframes scoreBlink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

.blink-score {
    animation: scoreBlink 0.4s infinite;
}

.blink-threshold {
    animation: rapidBlink 0.6s infinite;
}

.blink-cells-removed {
    animation: blink 1s infinite;
}

#game-over-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegura que esté sobre todo */
}

#game-over-message {
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    background: rgba(255, 255, 255, 0.1); /* Fondo claro semitransparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#game-over-message h1 {
    font-size: 48px;
    margin: 0 0 20px;
}

#restart-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#restart-button:hover {
    background-color: #0056b3;
}

#cells-removed {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    background-color: #333333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
